@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap');

#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  /* width: 80px;
  height: 30px; */
  border-radius: 20px;
  font-size: 13px;
  padding: 2px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

#thefile:hover {
  transform: scale(1.1);
}

#thefile:focus {
  outline: none;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #74a9c3;
  background: -ms-radial-gradient(circle, #09716f, #000000);
  box-shadow: inset 0 0 1000px 0 rgb(44, 18, 104); */
  -webkit-animation: animate_bg 20s;
  animation: animate_bg 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

}

audio {
  position: fixed;
  left: 900px;
  top: 10px;
  z-index: 10 !important;
  width: calc(30% - 20px);
}

audio:focus {
  outline: none;
}

button {
  position: fixed;
  left: 10px;
  top: 35px;
  z-index: 150; 

  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}


/* .animate {
    height: 200px;
    width: 400px;
    border: 1px solid #000;
    -webkit-animation: animate_bg 5s;
    animation: animate_bg 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
} */

@keyframes animate_bg {
  0%  {background:#295165;}
  20%  {background:#9dacff;}
  40% {background:#fbcaef;}
  60% {background:#ffc6d9;}
  80% {background:#48304d;}
  100%   {background:#0b3f5c;}
  
}

@-webkit-keyframes animate_bg {
  0%  {background:#295165;}
  20%  {background:#9dacff;}
  40% {background:#fbcaef;}
  60% {background:#ffc6d9;}
  80% {background:#48304d;}
  100%  {background:#0b3f5c;}
}


#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}