@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Orbitron|Press+Start+2P&display=swap');
#thefile {
  position: fixed;
  bottom: 105px;
  left: 20px;
  z-index: 100;
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  /* width: 80px;
  height: 30px; */
  border-radius: 20px;
  font-size: 13px;
  padding: 6px;
  width: 200px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

#thefile:hover {
  transform: scale(1.1);
}

p {
  position: fixed;
  top: 0px;
  left: 500px;
}

#thefile:focus {
  outline: none;
}

#myCanvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #74a9c3;
  background: -ms-radial-gradient(circle, #09716f, #000000);
  box-shadow: inset 0 0 1000px 0 rgb(44, 18, 104); */
  /* -webkit-animation: animate_bg 20s;
  animation: animate_bg 15s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */

}

audio {
  position: fixed;
  left: 900px;
  bottom: 10px;
  z-index: 10 !important;
  width: calc(30% - 20px);
}

audio:focus {
  outline: none;
}

#demo {
  position: fixed;
  left: 20px;
  bottom: 125px;
  z-index: 150; 
  font-weight: bolder;
  margin-bottom: 30px;
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */

  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

#demo:hover {
  transform: scale(1.1);
}
#play:hover {
  transform: scale(1.1);
}
#pause:hover {
  transform: scale(1.1);
}
#mute:hover {
  transform: scale(1.1);
}

#play {
  position: fixed;
  left: 20px;
  bottom: 75px;
  z-index: 150; 
  font-weight: bolder;
  margin-bottom: 30px;
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */

  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}
#pause {
  position: fixed;
  left: 20px;
  bottom: 55px;
  z-index: 150; 
  font-weight: bolder;
  /* margin-bottom: 30px; */
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */

  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}
#mute {
  position: fixed;
  left: 20px;
  bottom: 10px;
  z-index: 150; 
  font-weight: bolder;
  /* margin-bottom: 30px; */
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */

  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

button:focus {
  outline: none;
}


#stars {
  position: fixed;
  left: 10px;
  top: 75px;
  z-index: 150; 

  margin-top: 5px;
  font-family: 'Orbitron', sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

#stars:hover {
  transform: scale(1.1);
}
#plane {
  position: fixed;
  left: 10px;
  top: 115px;
  z-index: 150; 

  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  /* text-align: center; */
  transition: all .2s ease-in-out;
}

#plane:hover {
  transform: scale(1.1);
}

/* .animate {
    height: 200px;
    width: 400px;
    border: 1px solid #000;
    -webkit-animation: animate_bg 5s;
    animation: animate_bg 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
} */

/* @keyframes animate_bg {
  0%  {background:#295165;}
  20%  {background:#9dacff;}
  40% {background:#fbcaef;}
  60% {background:#ffc6d9;}
  80% {background:#48304d;}
  100%   {background:#0b3f5c;}
  
}

@-webkit-keyframes animate_bg {
  0%  {background:#295165;}
  20%  {background:#9dacff;}
  40% {background:#fbcaef;}
  60% {background:#ffc6d9;}
  80% {background:#48304d;}
  100%  {background:#0b3f5c;}
} */


#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#info {
  position: absolute;
	top: 10px;
  width: 100%;
  font-family: 'Bungee Shade', cursive;
	text-align: center;
	z-index: 100;
  display:block;
  /* margin: auto; */
  font-size: 50px;
  color: white;
  font-weight: bolder;
  transition: all 0.5s;
}

#info {
  text-shadow: 0px 1px 0px #7b68ee,
  0px 1px 15px rgba(0,0,0,0.2),
  0px 2px 0px #7b68ee,
  0px 3px 0px #7b68ee,
  0px 4px 0px #7b68ee,
  0px 5px 0px #7b68ee,
  0px 6px 0px #7b68ee,
  0px 7px 0px #7b68ee,
  0px 8px 0px #7b68ee,
  0px 9px 0px #7b68ee,
  0px 10px 0px #7b68ee,
  0px 11px 0px #7b68ee,
  0px 12px 0px #7b68ee,
  0px 20px 30px rgba(0,0,0,0.5);

}

#info:hover {
    /* animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    transform: scaleX(-1);

}

#tagline {
  position: absolute;
  top: 90px;
  font-family: 'Orbitron', sans-serif;
	width: 100%;
	text-align: center;
  z-index: 100;
  padding-top: 10px;
  display:block;
  margin: auto;
  font-size: 15px;
  color: white;
  font-weight: bolder;
}